.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px 7%;
  background: transparent;
  align-items: center;
}

.logo {
  width: 120px;
  cursor: pointer;  
}

ul {
  flex: 1;
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: center;
}

ul li {
  color: white;
  margin: 10px 15px;
  cursor: pointer;
  font-size: 15px;
  position: relative;
}

ul li::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: all 0.3s ease;
}

ul li:hover::after {
  width: 100%;
}

.toggle-icon {
  cursor: pointer;
  width: 24px;
  margin-right: 20px;
}

.sign-in-btn {
  background: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;
  /* margin-left: 20px; */
  transition: all 0.3s;
}

.sign-in-btn:hover {
  background: #f0f0f0;
  transform: translateY(-2px);
  box-shadow: -1px 4px 12px rgba(0, 0, 0, 0.2);
}

