* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

.container {
  width: 100%;
  min-height: 50vh;
  transition: 0.5s;
}

.container.dark {
  background: #222;
}